.prof-pic{
	max-width:75%;
	max-height:100%;
	margin-left:auto;
	margin-right:auto;
	/*border-radius:50%;*/
}
@media only screen and (max-height: 720px) {
    .prof-pic {
        display: none;
    }
}
.sidebar-about h1{
	font-size:2.5rem;
}
.sidebar-about, .sidebar-nav{
	text-align:center;
}
.content{
	max-width:45rem;
}

ul{
	list-style-type: none;
	padding:0px;
}

li a{
	color: #303030;
	font-size: 2rem;
	font-weight: bold;
    line-height: 1.25;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.papercraft-back {
  fill: #44A340;
}

.papercraft-front {
  fill: #D6E685;
}